*.pidb
*.VisualState.xml
*.suo
*.csproj.user
/Pipes/bin
/Pipes/obj
/UnitTests/bin
/UnitTests/obj
/UnitTests/TestResult.xml
Pipes.userprefs
/PipesShell/obj
/PipesShell/bin
/TestApplication1/bin
/TestApplication1/obj